<input type="text" [(ngModel)]="artist" >
<button (click)="searchArtist()">Buscar Arstista</button>

<div *ngFor="let artist of artists">
    <img height="64" width="64" src="{{artist.images[2].url}}">
    <a routerLink="{{artist.id}}/albums">{{artist.name}}</a>
</div>

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
